body,
#root {
  height: 100%;
  margin: 0;
  font-family: "Roboto Mono", serif; /*Font family for general txt*/
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

main {
  height: 100%;
  padding: 16px 60px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  grid-template-rows: auto 1fr auto;
  gap: 16px;
}

pre {
  line-height: 1.2em;
  background-color: lightgray;
  background-origin: content-box;

  /* some extra styles*/
  padding: 10px 20px;
  text-align: justify;
}

/* Responsive layout for small screens */
@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr; /* Single column layout */
    grid-template-rows: auto auto auto auto; /* Stack all rows vertically */
  }

  .myHeader,
  .containerBox,
  .myFooter {
    grid-column: 1 / 2; /* Each item spans the full width */
  }
}
