body,
#root {
  height: 100%;
  margin: 0;
}

main {
  height: 100%;
  padding: 16px 60px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  grid-template-rows: auto 1fr auto;
  gap: 16px;
}

/* Responsive layout for small screens */
@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr; /* Single column layout */
    grid-template-rows: auto auto auto auto; /* Stack all rows vertically */
  }

  .header,
  .containerBox,
  .footer {
    grid-column: 1 / 2; /* Each item spans the full width */
  }
}
