.containerBox {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.containerBox textarea {
  min-height: 100%;
  min-width: 100%;
}

/* Responsive layout for small screens */
@media (max-width: 768px) {
  .containerBox {
    grid-column: 1 / 2; /* span full width */
  }
}
